extends email-layout

block content
  h2 Forgot Password
  p Hello #{username},
  p     You have requested a password!
  div
   p Password: #{password}
  br
  p If you didn't request this email, please ignore it.
